html {
  background-color: #d7dbe7;
}

.text-nav-gray {
  color: #6d747e;
}

@media (orientation: landscape) {
  .product-image {
    position: absolute;
  }
}

@media (orientation: portrait) {
  .product-image {
    position: absolute;
  }
}
