html {
  background-color: #d7dbe7;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.text-nav-gray {
  color: #6d747e;
}

@media (orientation: landscape) {
  .product-image {
    position: absolute;
  }

  .flex-basis-60p {
    flex-basis: 60%;
  }
}

@media (orientation: portrait) {
  .product-image {
    position: absolute;
  }
}
